<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory >

		<!-- local connection properties -->
		<property name="hibernate.connection.url">big-data-3.logti.etsmtl.ca</property>
		<property name="hibernate.connection.driver_class"></property>
		<property name="hibernate.connection.username">EQUIPE17</property>
		<property name="hibernate.connection.password">YUdIaB7s</property>
		<!-- property name="hibernate.connection.pool_size"></property -->

		<!-- dialect for Oracle (any version) -->
        <property name="dialect">net.sf.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.use_outer_join">true</property>
        <property name="hibernate.transaction.factory_class">net.sf.hibernate.transaction.JTATransactionFactory</property>
        <property name="jta.UserTransaction">java:comp/UserTransaction</property>

    </session-factory>
</hibernate-configuration>